body {
  background-color: #F8FAFC;
}

header {
  position: sticky;
  top: 0;
  background: rgb(0, 200, 255);
  height: 60px;
  margin-bottom: 20px;
  padding: 0 20px;
  z-index: 10;

  /* for positioning text, links, etc */
  display: flex;
  align-items: center;
}

.flex-container {
  display: flex;
}

aside {
  position: sticky;
  top: 80px;
  /* the height of the header (60px) + its bottom margin (20px) */
  background-color: #fff;
  padding: 20px;
  width: 30%;
  max-height: calc(300vh - 100px);
  margin-bottom: 20px;
  scrollbar-width: none;
  /* Firefox */
  overflow: auto;
  max-width: 286px;

}

aside::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}


/* side barrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr */
.menu-header {
  color: #cbd5e1;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  margin-top: 24px;
}




.menu-item {
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  margin-top: 16px;
  gap: 16px;
  padding: 8px 16px;
  text-decoration: none;
}

.menu-item:hover {
  color: #BAE6FD; /* Warna saat kursor melintas */
}

.menu-item.active {
  color: #BAE6FD; /* Warna saat dipilih */
}

main {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.content {
  height: wrap;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 1500px;
}




/* dashboardddddddddddddddddddddddddddddddddd */
.dashboard {
  display: flex;
  margin-top: 86px;
  flex-grow: 1;
  flex-direction: column;
  padding: 24px 80px 80px 24px;
}

@media (max-width: 991px) {
  .dashboard {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}

.dashboard-header {
  display: flex;
  gap: 16px;
}

@media (max-width: 991px) {
  .dashboard-header {
    flex-wrap: wrap;
  }
}

.dashboard-icon {
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 5px 20px 0 rgba(183, 183, 183, 0.1);
  background-color: #fff;
  display: flex;
  width: 80px;
  height: 80px;
  padding: 0 20px;
}

.dashboard-icon-img {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 40px;
}

.dashboard-title {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

@media (max-width: 991px) {
  .dashboard-title {
    max-width: 100%;
  }
}

.dashboard-heading {
  color: #0f172a;
  font: 600 20px Poppins, sans-serif;
}

@media (max-width: 991px) {
  .dashboard-heading {
    max-width: 100%;
  }
}

.dashboard-subtitle {
  color: #64748b;
  margin-top: 4px;
  font: 400 16px Poppins, sans-serif;
}

@media (max-width: 991px) {
  .dashboard-subtitle {
    max-width: 100%;
  }
}


/* NOTIFICATION */
.notification {
  border-radius: 10px;
  background-color: #fff7ed;
  display: flex;
  margin-top: 32px;
  flex-direction: column;
  padding: 16px;
}


.notification-content {
  display: flex;
  gap: 12px;
  font-size: 14px;
  align-items: center;
}


.notification-icon {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 20px;
}

.notification-text {
  display: flex;
  gap: 4px;
  flex: 1;
}


.notification-message {
  color: #334155;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}


.notification-link {
  color: #0ea5e9;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  text-decoration-line: underline;
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;

  /* Center text with flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-details {
  color: #475569;
  font-feature-settings: "clig" off, "liga" off;
  margin-top: 12px;
  font: 400 12px/24px Poppins, sans-serif;
}

@media (max-width: 991px) {
  .notification-details {
    max-width: 100%;
  }
}


/* BANNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEERRRRRRRRRRRR */
.welcome-banner {
  border-radius: 8px;
  overflow: hidden;
  background: #0EA5E9;
  margin-top: 32px;
  padding: 34px 28px 0;
}

@media (max-width: 991px) {
  .welcome-banner {
    max-width: 100%;
    padding: 0 20px;
  }
}

.welcome-content {
  display: flex;
  gap: 20px;
}

@media (max-width: 991px) {
  .welcome-content {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}

.welcome-text {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: #fff;
  margin: auto 0;
}

@media (max-width: 991px) {
  .welcome-text {
    max-width: 100%;
    margin-top: 40px;
  }
}

/* BANNEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE */


/* SUMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEERRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR */
.summary-title {
  color: #94a3b8;
  text-align: left;
  margin-top: 32px;
  font: 400 16px Poppins, sans-serif;
}

@media (max-width: 991px) {
  .summary-title {
    max-width: 100%;
  }
}

.summary-cards {
  display: flex;
  margin-top: 16px;
  gap: 20px;
  text-align: center;
}

@media (max-width: 991px) {
  .summary-cards {
    max-width: 100%;
    flex-wrap: wrap;
  }
}

.summary-card {
  align-items: start;
  border-radius: 8px;
  box-shadow: 0 5px 20px 0 rgba(183, 183, 183, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 16px 24px;
}

@media (max-width: 991px) {
  .summary-card {
    padding: 0 20px;
  }
}

.summary-number {
  color: #0ea5e9;
  font: 600 28px Poppins, sans-serif;
}

.summary-label {
  color: #94a3b8;
  font: 400 14px Poppins, sans-serif;
}

/* SUMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMEEEEEEEEEEEEEEEEEEEEEEEEEERRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR */



/* YANG AKANNNNNNNNNNNNNNNN ANDAAAAAAAAAAAAAAAAAAAAAAAAA BUTUHHHHHHHHHHHHHHHHHHHHHHHHHHHKANNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN */
.services-title {
  color: #94a3b8;
  text-align: center;
  margin-top: 32px;
  font: 400 16px Poppins, sans-serif;
}

.services-grid {
  margin-top: 16px;
}


.services-row {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.services-row-response {
  position: relative;
  display: flex;
  gap: 24px;
  padding: 10px;
}


.service-card {
  border-radius: 8px;
  box-shadow: 0 5px 20px 0 rgba(183, 183, 183, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 0 1 30%;
  border-radius: 10px;
  border: 1px solid #e3e3e3;
}



.service-image {
  aspect-ratio: 2.78;
  object-fit: auto;
  object-position: center;
  width: 100%;
}


.service-content {
  height: 126px;
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;



}


.service-title {
  color: #1e293b;
  font: 600 16px Poppins, sans-serif;
}



/* YANG AKANNNNNNNNNNNNNNNN ANDAAAAAAAAAAAAAAAAAAAAAAAAA BUTUHHHHHHHHHHHHHHHHHHHHHHHHHHHKANNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN */










/* HEADERRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR */
.header {
  align-items: center;
  border-bottom: 1px solid #e2e8f0;
  background-color: #fff;
  z-index: 10;
  display: flex;
  gap: 20px;
  padding: 18px 80px 18px 24px;
}

.logo-container {
  position: relative;
  align-items: center;
  display: flex;
  gap: 12px;
}

.user-avatar {
  width: 40px;
  height: 40px;
}

.search-bar {
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  gap: 12px;
  font-size: 14px;
  color: #94a3b8;
  font-weight: 400;
  flex: 1;
  padding: 12px 16px;
}

.user-info {
  align-items: center;
  /* Menyelaraskan item secara vertikal di tengah */
  display: flex;
  /* Menggunakan flexbox untuk menyusun elemen */
  gap: 20px;
  /* Jarak antara elemen-elemen */
}

.user-profile {
  display: flex;
  /* Menggunakan flexbox untuk menyusun elemen */
  align-items: center;
  /* Menyelaraskan item secara vertikal di tengah */
}

.user-avatar {
  width: 40px;
  /* Ukuran avatar */
  height: 40px;
  /* Ukuran avatar */
  border-radius: 50%;
  /* Untuk avatar bundar */
  margin-right: 10px;
  /* Jarak antara avatar dengan teks */
}

.user-name {
  font-size: 16px;
  /* Ukuran teks nama pengguna */
  color: #333;
  /* Warna teks */
}

.search-icon {
  aspect-ratio: 1;
  width: 20px;
}

.logo-container {
  display: flex;
  gap: 12px;
}

.logo {
  aspect-ratio: 1;
  width: 40px;
}

.logo-text {
  display: flex;
  flex-direction: column;
}

.university-name {
  color: #0f172a;
  font: 600 14px Poppins, sans-serif;
}

.faculty-name {
  color: #64748b;
  font: 400 11px Poppins, sans-serif;
}

/* HEADERRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR */


.back-button {
  align-items: center;
  display: flex;
  gap: 8px;
  font-size: 16px;
  color: #0ea5e9;
  font-weight: 600;
}

.divider {
  border-radius: 8px;
  background-color: #e2e8f0;
  height: 1px;
  margin-top: 24px;
}

.service-info {
  max-width: fit-content;
  position: relative;
  flex: 1;
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.service-image1 {
  aspect-ratio: 2.78;
  max-width: 334px;
  width: 100%;
}

.service-details {
  position: relative;
  flex: 1;
  flex-direction: column;
}

.service-title {
  margin: 0;
  margin-top: 24px;
  color: #1e293b;
  font: 600 16px Poppins, sans-serif;
}


.service-title-tanyaft {
  margin: 0;
  margin-top: 24px;
  color: #1e293b;
  font: 600 20px Poppins, sans-serif;
}

.service-description {
  color: #64748b;
  margin-top: 8px;
  font: 12px Poppins, sans-serif;
  word-wrap: break-word;
  width: 100%;
  overflow-wrap: break-word;
}

.service-description-tanyaft {
  color: #64748b;
  margin-top: 8px;
  font: 16px Poppins, sans-serif;
  word-wrap: break-word;
  width: 100%;
  overflow-wrap: break-word;
}
.section-title {

  color: #1e293b;
  font: 600 16px Poppins, sans-serif;
}

.section-title-tengah {
  color: #1e293b;
  text-align: center;
  /* Menyelaraskan teks di tengah */

  margin-top: 40px;
  font: 600 16px Poppins, sans-serif;
}

.section-content {
  color: #64748b;
  margin-top: 8px;
  font: 400 14px/32px Poppins, sans-serif;
}

.table-header-pengajuan {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;

}

a {
  text-decoration: none;
}

.add-button {
  border: none;
  border-radius: 8px;
  background-color: #0ea5e9;
  display: flex;
  gap: 8px;
  font-size: 12px;
  color: #fff;
  font-weight: 500;
  padding: 12px 16px;
  align-items: center;
  max-width: 174px;
  max-height: 42px;
}

.section-title-pengajuan {
  color: #1e293b;
  margin: 0;
  /* Hapus margin default */
  font: 600 16px Poppins, sans-serif;

}




/* TABEL PENGAJUAN */
.table__body {
  position: relative;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;

  margin: .8rem auto;
  border-radius: .6rem;

  overflow: auto;
  overflow: overlay;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #F1F5F9;
  cursor: pointer;
  text-transform: capitalize;
}

.name-input-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

.name-input-container1 {
  display: flex;
  flex-direction: row;
  /* Ubah arah menjadi horizontal */
  align-items: center;
  /* Selaraskan elemen secara vertikal */
  gap: 10px;
  /* Atur jarak antar elemen */
}

.name-label-wrapper {
  margin-top: 32px;

  display: flex;
  gap: 4px;
  font: 600 16px Poppins, sans-serif;
}

.name-label {
  color: #1e293b;
}

.required-indicator {
  color: #ef4444;
}

.name-input {
  border-radius: 8px;
  border: 1px solid #e2e8f0;
  background-color: #e2e8f0;
  margin-top: 8px;
  color: #334155;
  padding: 16px;
  font: 400 14px Poppins, sans-serif;
}

@media (max-width: 991px) {
  .name-input {
    max-width: 100%;
  }
}

.comment-input {
  border-radius: 10px;
  height: 204px;
  resize: none;

}

.file-upload-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

.file-upload-title {
  color: #1e293b;
  width: 100%;
  font: 600 16px Poppins, sans-serif;
}

.file-upload-area {
  border-radius: 8px;
  border: 1px solid #e2e8f0;
  background-color: #fff;
  display: flex;
  margin-top: 8px;
  gap: 16px;
  font-size: 14px;
  font-weight: 400;
}

.file-upload-button {
  font-family: Poppins, sans-serif;
  border-radius: 8px 0 0 8px;
  background-color: #0ea5e9;
  color: #fff;
  text-align: right;
  justify-content: center;
  padding: 16px 24px;
}

.file-upload-text {
  color: #cbd5e1;
  font-family: Poppins, sans-serif;
  margin: auto 0;
}

.file-upload-info {
  color: #94a3b8;
  margin-top: 8px;
  width: 100%;
  font: italic 300 12px Poppins, sans-serif;
}

.visually-hidden {
  color: #fff;

  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (max-width: 991px) {

  .file-upload-title,
  .file-upload-text,
  .file-upload-info {
    max-width: 100%;
  }

  .file-upload-area {
    flex-wrap: wrap;
  }

  .file-upload-button {
    padding: 0 20px;
  }
}

.buttons-container {
  justify-content: end;
  display: flex;
  gap: 16px;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  text-align: right;
}

.button-cancel {
  font-family: Poppins, sans-serif;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0px 5px 20px rgba(183, 183, 183, 0.1);
  border: 1px solid rgba(203, 213, 225, 1);
  background-color: #fff;
  color: var(--Slate-800, #1e293b);
  padding: 10px 60px;
  cursor: pointer;
}

.button-submit {
  font-family: Poppins, sans-serif;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0px 5px 20px rgba(183, 183, 183, 0.1);
  background-color: var(--Sky-500, #0ea5e9);
  color: var(--Slate-0, #fff);
  padding: 10px 60px;
  cursor: pointer;
}

.button-cancel:focus,
.button-submit:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.25);
}

.application-date-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.application-date-label {
  color: #1e293b;
  font: 600 16px Poppins, sans-serif;
}

.application-date-value {
  border-radius: 8px;
  border: 1px solid #e2e8f0;
  background-color: #e2e8f0;
  margin-top: 8px;
  color: #334155;
  padding: 16px;
  font: 400 14px Poppins, sans-serif;
}

@media (max-width: 991px) {

  .application-date-container,
  .application-date-label,
  .application-date-value {
    max-width: 100%;
  }
}

.row-detail-tanya-ft {
  margin-top: 32px;
  gap: 10px;
  display: flex;
  justify-content: center;
  flex: 1;
}

.container-detail-tanya-ft {
  flex: 1;
}



.action-bar {
  justify-content: center;
  display: flex;
  gap: 8px;
  font-size: 12px;
  color: #fff;
  font-weight: 500;
  padding: 15px 16px;
}

@media (max-width: 991px) {
  .action-bar {
    padding: 0 20px;
  }
}

.action-button {
  color: #fff;
  border: none;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 5px 20px 0 rgba(183, 183, 183, 0.1);
  display: flex;
  gap: 8px;
  padding: 8px 12px;
  font-family: Poppins, sans-serif;
}

.action-button-detail {
  background-color: #6366f1;
}

.action-button-track {
  background-color: #eab308;
}

.action-button-download {
  background-color: #0ea5e9;
}

.action-icon {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 16px;
  align-self: start;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.approval-container {
  position: relative;
  display: flex;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 12px;
  color: #16a34a;
  font-weight: 500;
}

.status-diproses {

  font-family: Poppins, sans-serif;
  border-radius: 56px;
  background-color: #ca8a04;
  padding: 6px 32px;
  background-color: #fef08a;
  color: #ca8a04;

}

.status-disetujui {
  font-family: Poppins, sans-serif;
  border-radius: 56px;
  background-color: #bbf7d0;
  padding: 6px 32px;

}

.approval-status {

  border-radius: 56px;
  padding: 6px 32px;
}

.approval-status-detail {
  background-color: #bbf7d0;

  border-radius: 56px;
  padding: 6px 32px;
}

.approval-status1 {
  background-color: #bbf7d0;

  border-radius: 56px;
  padding: 6px 32px;
}

@media (max-width: 991px) {
  .approval-container {
    white-space: initial;
  }

  .approval-status {
    white-space: initial;
    padding: 0 20px;
  }
}







.question-container {
  margin-top: 20px;
  display: flex;
  gap: 16px;
}

@media (max-width: 991px) {
  .question-container {
    flex-direction: column;
    /* Mengatur konten dalam satu kolom di perangkat seluler */
  }
}

.question-label {
  padding-top: 1px;

  width: 100px;
  margin: 0;
  color: #334155;
  font: 400 16px Poppins, sans-serif;
}

.question-colon {
  padding-top: 1px;

  color: #334155;
  font: 400 16px Poppins, sans-serif;
  margin-left: 4px;
  /* Menambahkan margin agar terpisah dengan label */
}

.question-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 20px;
  font: 400 16px/150% Poppins, sans-serif;
}

.question-text {
  margin: 0;
  color: #334155;
  font: 400 16px/150% Poppins, sans-serif;
}

.check-file-button {
  text-align: left;
  text-decoration: underline;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
  background-color: #e2e8f0;
  margin-top: 16px;
  color: #0ea5e9;
  padding: 16px;
  font: 600 14px Poppins, sans-serif;
  cursor: pointer;
}